<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="accesories-apps-menu" label="Accesories">
		<item icon="/usr/share/icons/Masalla/apps/24x24/terminal.png" label="URxvt">
			<action name="Execute">
				<execute>urxvt</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/calculator.png" label="Calculator">
			<action name="Execute">
				<command>galculator</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/gedit-icon.png" label="gedit">
			<action name="Execute">
				<command>gedit</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/mousepad.png" label="Mousepad">
			<action name="Execute">
				<command>mousepad</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/htop.png" label="Htop">
			<action name="Execute">
				<command>urxvt -e 'htop'</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/nautilus.png" label="Nautilus">
			<action name="Execute">
				<command>nautilus --no-desktop</command>
			</action>
		</item>
	</menu>
	<menu id="graphics-apps-menu" label="Graphics">
		<item icon="/usr/share/icons/Masalla/apps/24x24/gimp.png" label="GIMP">
			<action name="Execute">
				<command>gimp</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/darktable.png" label="Darktable">
			<action name="Execute">
				<command>darktable</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/rawtherapee.png" label="RawTherapee">
			<action name="Execute">
				<command>rawtherapee</command>
			</action>
		</item>
	</menu>
	<menu id="multimedia-apps-menu" label="Multimedia">
		<item icon="/usr/share/icons/Masalla/apps/24x24/vlc.png" label="VLC">
			<action name="Execute">
				<command>vlc</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/deadbeef.png" label="DeaDBeeF">
			<action name="Execute">
				<command>deadbeef</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/totem.png" label="mkvtoolnix">
			<action name="Execute">
				<command>mkvtoolnix-gui</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/smplayer.png" label="Smplayer">
			<action name="Execute">
				<command>smplayer</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/mplayer.png" label="Mplayer">
			<action name="Execute">
				<command>mymplayer</command>
			</action>
		</item>
	</menu>
	<menu id="apps-menu" label="Applications">
		<menu id="accesories-apps-menu"/>
		<menu id="graphics-apps-menu"/>
		<menu id="multimedia-apps-menu"/>
	</menu>
	<menu id="config-menu" label="Config">
		<item icon="/usr/share/icons/Masalla/apps/24x24/darktable.png" label="Change GTK Theme">
			<action name="Execute">
				<command>gtk-chtheme</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/darktable.png" label="Search">
			<action name="Execute">
				<execute>synapse</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/menulibre.png" label="Menu Editor">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/darktable.png" label="OB Config">
			<action name="Execute">
				<command>obconf</command>
			</action>
		</item>
	</menu>
	<menu id="exit-menu" label="Exit">
		<item label="Log Out">
			<action name="Execute">
				<command>openbox --exit</command>
			</action>
		</item>
		<item label="Lock">
			<action name="Execute">
				<execute>xlock</execute>
			</action>
		</item>
		<item label="Shutdown">
			<action name="Execute">
				<command>systemctl poweroff</command>
			</action>
		</item>
		<item label="Restart">
			<action name="Execute">
				<command>systemctl reboot</command>
			</action>
		</item>
		<item label="Suspend">
			<action name="Execute">
				<command>systemctl suspend</command>
			</action>
		</item>
		<item label="Hibernate">
			<action name="Execute">
				<command>systemctl hibernate</command>
			</action>
		</item>
	</menu>
	<menu id="root-menu" label="OpenBox 3">
		<item icon="/usr/share/icons/Masalla/apps/24x24/terminal.png" label="Terminal">
			<action name="Execute">
				<command>urxvt</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/firefox.png" label="Firefox">
			<action name="Execute">
				<command>firefox</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/chromium.png" label="Chromium">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/twitter.png" label="CoreBird">
			<action name="Execute">
				<execute>proxychains corebird</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/uget.png" label="uGet">
			<action name="Execute">
				<command>uget-gtk</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/thunderbird.png" label="Thunderbird">
			<action name="Execute">
				<command>thunderbird</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Masalla/apps/24x24/thunar.png" label="Thunar">
			<action name="Execute">
				<command>Thunar</command>
			</action>
		</item>
		<menu id="apps-menu"/>
		<menu id="config-menu"/>
		<menu id="client-list-menu"/>
		<menu id="exit-menu"/>
	</menu>
</openbox_menu>
